{% extends "base.html" %}
{% block title %}
  Домашняя страница
{% endblock %}
{% block content %}
<div class="home-container">
    <h1 class="home-title">Добро пожаловать на сайт QuestionsPage!</h1>
    <div class="home-content">
        <p>
            На этом сайте вы найдете вопросы, которые могут встретиться на собеседованиях python-разработчика.
        </p>
        <p>
            Для того чтобы начать работу с сайтом необходимо зарегистрироваться, перейдя на страницу "Регистрация".
            После регистрации авторизируйтесь под созданным пользователем.
        </p>
        <p>
            На главной странице Вы увидите вопрос, дайте на него ответ самостоятельно,
            после чего Вы можете посмотреть правильный ответ и соответсвующим образом оценить свой ответ.
        </p>
        <p>
            Во вкладке "Результаты" Вы можете изучить статистику своих ответов,
            а также посмотреть неуверенные и неверные ответы на вопросы.
        </p>
    </div>
</div>
{% endblock %}

